<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180283241560-f49cvqnuqcuuh59t037recep8egrenj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180283241560-f49cvqnuqcuuh59t037recep8egrenj8</string>
	<key>API_KEY</key>
	<string>AIzaSyAIx1EmxC7YUHDtR2Wx-z3radHvpwtMQtc</string>
	<key>GCM_SENDER_ID</key>
	<string>180283241560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.lefty</string>
	<key>PROJECT_ID</key>
	<string>lefty-bdb52</string>
	<key>STORAGE_BUCKET</key>
	<string>lefty-bdb52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180283241560:ios:a9cc515fe7f4861b8f862d</string>
	<key>DATABASE_URL</key>
	<string>https://lefty-bdb52-default-rtdb.firebaseio.com</string>
</dict>
</plist>